<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi <%= @name %></h1>
        <p>
            Congratulations! Someone has an opinion on one of your movies.
        </p>
    </body>
</html>